@charset "ISO-8859-1";
body{
			background-color: black;
			font-family: cursive;
			align-content: center;
			color: white;
			font-size: 20;
			background-image: url('star-trails.webp');
			background-repeat: no-repeat;
			background-size: cover;
		}
	h1,.link-cont{
			text-align: center;
	        font-family: cursive;
	        color: white;
	        vertical-align: baseline;
	        font-size: 20;
		}
.link-cont img {
		height: 400px; /* Adjust to desired size */
		width: 400px; /* Adjust to desired size */
		}
		a:link{
			color: white;
		}
		a:visited{
			color:aqua;
		}